@model autopark.DAL.Entities.VehicleType;

@{
    ViewData["Title"] = "Update Vehicle Type";
    Layout = "_SectionLayout";
}

<h1>Edit data</h1>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label>TaxCoefficient</label>
        <input type="number" class="form-control" asp-for="TaxCoefficient">
        <span asp-validation-for="TaxCoefficient" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>